body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline-block {
  display: inline-block;
  /*background-color: red;*/
  vertical-align: text-top;
}

.center {
  text-align: center;
}

#test {
  display: inline-block;
  background-color: red;
}
